.user-profile{
  width: 200px;
  height: 345px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  border-radius: 2px;
  display: inline-block;
}

.big-brain-nate{
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}

.name{
  font-weight: bold;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.mutual-friends{
  color: grey;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.add-friend-button{
  background-color: blue;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 5px;
  border-radius: 4px;
}