p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 20px; 
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: 30px;
}

.more-link{
  color: blue;
}

.more-link:hover{
  text-decoration: underline;
}
