p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.currency{
  color: grey;
  font-size: 16px;
  margin-bottom: 10px;
}

.change{
  color: green;
  margin-bottom: 10px;
}

.after-hours{
  color: grey;
}

.after-hours-change{
  color: orange;
}
